<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--Banco cris-->
    <!--<add name = "banco" connectionString = "Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=FerrariEmpilhadeira;Data Source=DESKTOP-A4VC0UJ;"/>-->
    
    <!--Banco Ricke
    <add name = "banco" connectionString = "Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=FerrariEmpilhadeira;Data Source=CLIENTE;"/>-->
    
    <!--Banco Erickson-->
    <add name = "banco" connectionString = "Server=10.136.43.60; Initial catalog=TesteFerrariEmpilhadeira; User ID=sa; Password=senac@smp;"/>

  </connectionStrings>
</configuration>